body, html {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #e0e0e0;
}
.demo {
	max-width: 800px;
	margin: 0 auto;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid rgba(150, 150, 150, 0.7);
}
.lightbox {
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	display: none;
	z-index: 2;
}
.visible {
	display: flex;
	flex-direction: column;
}
.lightbox img {
	margin: auto;
	height: 90%;

}
.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: auto;
}
.lightbox #close-button {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(33, 33, 33, 0);
	border: none;
	font-size: 30px;
}
.nav-button{
	
	font-size: 40px;
	height: 50px;
	border:none;
	border-radius: 5px;
	outline: none;
	background-color: rgba(150, 150, 150, 0.5);

}
.nav-button:hover {
	cursor: pointer;
}
.nav-button:focus{
	border:1px solid #AAA;
	color:#AAA;
}
#alt-text { 
	color:white;
	font-size: large;
}
.item {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40% 0;

	background-color: #666;
    color: white;
    background-position: center center;
    background-size: cover;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#close-button {
	cursor: pointer;
}
