body, html {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #e0e0e0;
}
.demo {
	max-width: 800px;
	margin: 0 auto;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid rgba(150, 150, 150, 0.7);
}
.lightbox {
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #333;
	text-align: center;
	display: none;
	z-index: 2;
}
.lightbox img {
	max-height: 90%;
	max-width: 100%;
}
.lightbox button {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(33, 33, 33, 0);
	border: none;
	font-size: 30px;
}
#alt-text { 
	color:white;
	font-size: large;
}
.item {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40% 0;

	background-color: #666;
    color: white;
    background-position: center center;
    background-size: cover;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#close-button {
	cursor: pointer;
}
